.cabecalho{
    display: flex;
    align-items: center;
    

    
    
}


@media screen and (min-width:0){
    .cabecalho{
        justify-content: center;
        
    }
}

@media screen and (min-width: 768px){
    .cabecalho{
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
}