.logo{
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 0 ){
    .logo{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .logo{
        display: block;
    }
}