.sobre__descricao{
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.295);
    color: #fdfdfdda;

    

}


@media screen and (min-width:0){

    .sobre__descricao{
        
        line-height: 140%;
        padding: 1rem 1rem;
        
        text-align: justify;
        
    }
}


@media screen and (min-width: 768px){

    .sobre__descricao{
        
        line-height: 140%;
        text-align: justify;
    }
}