.sobre__imagem{
    background: no-repeat center / cover;
    border-radius: 20px;
    box-shadow: 25px 18px  rgba(0, 0, 0, 0.295);
    


    
}


@media screen and (min-width:0){
    .sobre__imagem{
        width: 100%;
        height: 80%;
        
        
    }
}



@media screen and (min-width:768px) {
    .sobre__imagem{
        height: 500px;
        width: 100%;
    }
    
}